@mixin theme($bg-color) {
    background: $bg-color;
    transition: background 0.3s ease;
}

$light-theme: black;
$dark-theme: white;

body {
    @include theme($light-theme);
}

.dark-mode {
    @include theme($dark-theme);
}


$background-color: black;
$text-color: white;
$font-family: 'Arial, sans-serif';

body {
    background: $background-color;
    color: $text-color;
    font-family: $font-family;
    transition: background 0.3s ease;
}


$background-color: rgb(163, 203, 255);
$link-color: rgb(0, 100, 200);

a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: (red); // Ubah warna saat hover
    }
}

/* Sembunyikan scrollbar */
.movie-slider-container {
    overflow-x: auto;
    scrollbar-width: thin; /* Untuk Firefox */
    scrollbar-color: transparent transparent; /* Untuk Firefox */
  }
  
  .movie-slider-container::-webkit-scrollbar {
    display: none; /* Untuk Chrome, Safari, dan Edge */
  }
  
  /* Scroll Snap */
  .movie-slider-container {
    scroll-snap-type: x mandatory; /* Aktifkan snap */
  }
  
  .movie-card {
    scroll-snap-align: start; /* Elemen akan snap ke posisi mulai */
  }
  